<div class="bg-svg">
    <div class="section pt-5">
        <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
            <div class="row  justify-content-center px-3 py-5 align-items-center">
                <div class="col-lg-5 p-3 ">
                    <div class="d-block" style="margin: 0 auto; width: auto;">
                        <h1 class="text-primary fw-bold"> We Provide Premium Products at Discounted Pricing </h1>
                    </div>

                </div>
                <div class="col-lg-6 px-3 ">
                    <div class="row align-items-center mt-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12"><img class="w-100 h-100" src="../../../assets/img/home/Group6.png"
                                        alt=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12"><img class="w-100 h-100"
                                        src="https://firebasestorage.googleapis.com/v0/b/tsl-automation.appspot.com/o/ARC-15W33%2F2236140ARC-15W33-2.png?alt=media&token=cd5e5068-75f7-4c56-a34f-9a7294234040"
                                        alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mt-3">
                                <div class="col-12"><img class="w-100 h-100" src="../../../assets/img/home/Sbox.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12"><img class="w-100 h-100"
                                        src="https://firebasestorage.googleapis.com/v0/b/tsl-automation.appspot.com/o/ARC-1209-B%2F1161175ARC-1233B.png?alt=media&token=ac582b74-ea0b-4292-a242-e76f60b3644e"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
            <div class="row justify-content-center px-3 py-5 align-items-center min-height">
                <div class="col-lg-6 p-3 ">
                    <div class="d-block" style="margin: 0 auto; width: auto;">
                        <h2> We Provide </h2>
                        <h1 class="text-primary fw-bold">Premium Automation Solutions</h1>
                        <h2> to match your</h2>
                        <h1 class="text-primary fw-bold"> Every Business Need</h1>
                        <img width="100%" height="100%" class="mt-5" src="../../../assets/img/home/Group6.png" alt="">

                    </div>

                </div>
                <!-- <div class="col-lg-5 p-3 ">
                </div> -->
            </div>
        </div>
    </div>
    <div class="section pt-5">
        <div class="row   justify-content-evenly px-3 pt-5 align-items-center ">
            <div class="col-lg-5 px-3 ">
                <div class="row align-items-center mt-4">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12"><img class="w-100 h-100" src="../../../assets/img/home/Group6.png"
                                    alt=""></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12"><img class="w-100 h-100"
                                    src="../../../assets/img/home/IT4_Family_ 202205_01.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mt-3">
                            <div class="col-12"><img class="w-100 h-100" src="../../../assets/img/home/Sbox.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 p-3">
                <div class="d-block" style="margin: 0 auto; width: auto;">
                    <h2 class="text-primary fw-bold mb-4 ">HMI (Human Machine Interface)</h2>
                    <p class="font-s5 mb-3 text-breakk">Visualization and HMI solutions help you address your
                        productivity, innovation, and globalization needs. Our portfolio provides a consistent look and
                        feel for electronic operator interface terminals, distributed client/server HMI, and information
                        software. Programming tools and advanced software applications include remote access and data
                        analysis to accelerate development and improve efficiency.


                    </p>
                    <button class="btn btn-outline-primary rounded-pill px-4 py-2"> View More </button>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-5">
        <div class="row   justify-content-evenly px-3 pt-5 align-items-center ">


            <div class="col-lg-5 p-3">
                <div class="d-block" style="margin: 0 auto; width: auto;">
                    <h2 class="text-primary fw-bold mb-4 ">HMI (Human Machine Interface)</h2>
                    <p class="font-s5 mb-3 text-breakk">Visualization and HMI solutions help you address your
                        productivity, innovation, and globalization needs. Our portfolio provides a consistent look and
                        feel for electronic operator interface terminals, distributed client/server HMI, and information
                        software. Programming tools and advanced software applications include remote access and data
                        analysis to accelerate development and improve efficiency.


                    </p>
                    <button class="btn btn-outline-primary rounded-pill px-4 py-2"> View More </button>
                </div>
            </div>
            <div class="col-lg-5 px-3 ">
                <div class="row align-items-center mt-4">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12"><img class="w-100 h-100" src="../../../assets/img/home/Group6.png"
                                    alt=""></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12"><img class="w-100 h-100"
                                    src="../../../assets/img/home/IT4_Family_ 202205_01.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mt-3">
                            <div class="col-12"><img class="w-100 h-100" src="../../../assets/img/home/Sbox.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>