<!-- <header class="navbar navbar-light sticky-top bg-light flex-md-nowrap  shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" routerLink="dashboard"> <img
            src="./../../../assets/img/TSL_logo_Crop-01.svg" class="w-100 h-100" style="max-height: 30px;" alt=""></a>
  
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" (click)="authService.SignOut()">Sign out</a>
        </div>
    </div>
</header> -->

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand ms-2" routerLink="dashboard"> <img src="./../../../assets/img/TSL_logo_Crop-01.svg"
                style="height: 30px;" alt=""></a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse justify-content-md-end collapse" id="navbarsExample08">
            <ul class="navbar-nav ">

                <li class="nav-item">
                    <a class="nav-link fw-bold text-dark" routerLink="/dashboard/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-dark" routerLink="/dashboard/enquiry">Enquiry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-dark" (click)="authService.SignOut()">Sign out</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                        aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>

    </div>
</nav>