<!-- <div class="banner-img">
    <div class="row w-100">
        <div class=" col-lg-6  justify-content-center">
            <h2>
                We Provide <br>
                <span class="primary fw-bold"> PREMUIM AUTOMATION </span> <br>
                Solutions to your <br>
                <span class="primary fw-bold">Every Business Need </span>
            </h2>
        </div>
        <div class="col-lg-6">
            <div class="inner-bg " style="height: 55vh;"></div>
        </div>
    </div>
</div> -->










<div fullpage id="fullpage2" [options]="config">
    <div class="section ">
        <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
            <div class="row banner justify-content-center px-3 py-5 align-items-center min-height">
                <div class="col-lg-6 p-3 ">
                    <div class="d-block" style="margin: 0 auto; max-width: 600px ;">
                        <h1 class="text-primary">Experience the power of industrial automation with our cutting-edge
                            technology solutions.
                        </h1>
                        <p class="mt-2">
                            Our Human-Machine Interface (HMI), Industrial Computers, and Touch Panel PCs are designed to
                            help
                            businesses improve productivity, reduce downtime, and enhance efficiency. With advanced
                            features such as
                            multi-touch technology, high-resolution displays, and rugged design, our products deliver
                            unmatched
                            performance and reliability in even the harshest industrial environments. Explore our range
                            of products
                            and services today to see how we can help you achieve your automation goals.
                        </p>
                        <button class="btn mt-4 secondary-button"> View More <span class="ps-2"> <svg class=""
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                </svg></span> </button>
                    </div>

                </div>
                <div class="col-lg-5 p-3 ">
                    <swiper class="mt-3" [config]="swiperConfig1">
                        <ng-template swiperSlide>
                            <div class="d-block mx-auto" style=""><img style=" height: auto; width: 100%;"
                                    src="../../../assets/img/2557842189220EPS-CFS-1.png" alt=""></div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="d-block mx-auto" style=""><img style=" height: auto; width: 100%;"
                                    src="../../../assets/img/home/146625ARC-21W32-1-transformed.png" alt=""></div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="d-block mx-auto" style=""><img style=" height: auto; width: 100%;"
                                    src=" ../../../assets/img/349140CAXA0_Top_view_B_v08.png" alt=""></div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="d-block mx-auto" style=""><img style=" height: auto; width: 100%;"
                                    src="../../../assets/img/home/PM210_front_AP.png" alt=""></div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>

        <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
            <div class="row banner justify-content-center px-3 py-5 align-items-center min-height">
                <div class="col-lg-6 p-3 ">
                    <swiper class="mt-3" [config]="swiperConfig1">
                        <ng-template swiperSlide>
                            <div class="d-block mx-auto" style="max-height: 450px;"><img
                                    style=" height: auto; width: 100%;"
                                    src="../../../assets/img/2557842189220EPS-CFS-1.png" alt=""></div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="d-block mx-auto" style="max-height: 450px;"><img
                                    style=" height: auto; width: 100%;"
                                    src="../../../assets/img/home/146625ARC-21W32-1-transformed.png" alt=""></div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="d-block mx-auto" style="max-height: 450px;"><img
                                    style=" height: auto; width: 100%;"
                                    src=" ../../../assets/img/349140CAXA0_Top_view_B_v08.png" alt=""></div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="d-block mx-auto" style="max-height: 450px;"><img
                                    style=" height: auto; width: 100%;"
                                    src="../../../assets/img/home/PM210_front_AP.png" alt=""></div>
                        </ng-template>
                    </swiper>

                    <h1 class="text-primary">Experience the power of industrial automation with our cutting-edge
                        technology
                        solutions.
                    </h1>
                    <p class="fs-01 ">
                        Our Human-Machine Interface (HMI), Industrial Computers, and Touch Panel PCs are designed to
                        help
                        businesses improve productivity, reduce downtime, and enhance efficiency. With advanced
                        features such as
                        multi-touch technology, high-resolution displays, and rugged design, our products deliver
                        unmatched
                        performance and reliability in even the harshest industrial environments. Explore our range
                        of products
                        and services today to see how we can help you achieve your automation goals.
                    </p>
                    <button class="btn mt-4 secondary-button"> View More</button>

                </div>
                <!-- <div class="col-lg-5 p-3 ">
                </div> -->
            </div>
        </div>
    </div>


    <div class="section">
        <div class="row banner  justify-content-evenly px-3 pt-5 align-items-center min-height">
            <div class="col-lg-5 px-3 ">
                <div class="row align-items-center mt-4">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12"><img class="w-100 h-100" src="../../../assets/img/home/Group6.png"
                                    alt=""></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12"><img class="w-100 h-100"
                                    src="../../../assets/img/home/IT4_Family_ 202205_01.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mt-3">
                            <div class="col-12"><img class="w-100 h-100" src="../../../assets/img/home/Sbox.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 p-3">
                <div class="d-block" style="margin: 0 auto; width: auto;">
                    <h1 class="text-primary fw-bold mb-4 ">Products</h1>
                    <p class="font-s5 mb-3 text-breakk">We deal in Industrial Touch Panels, HMI, Industrial Gate Way,
                        Industrial
                        Fanless Touch
                        Panels, Multi Touch Industrial Rugged Fanless Touch Panels. <br>As Channel Partners of Cermate
                        and
                        Avalue we
                        work towards providing you with the best prices and unique, high-end solutions.
                    </p>
                    <button class="btn btn-outline-primary rounded-pill px-4 py-2"> View More </button>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row banner justify-content-evenly px-3 py-5 align-items-center min-height">


            <div class="col-lg-5 p-3 ">
                <img width="100%" height="100%" src="../../../assets/img/home/undraw_Questions_re_1fy7.png" alt="">

            </div>

            <div class="col-lg-5 p-3 ">
                <div class="d-block" style="margin: 0 auto;">
                    <h1 class="text-primary fw-bold ">Why Us? </h1>
                    <p class="font-s5 my-3 text-breakk">We at TSL Automation solutions strike the perfect balance
                        between
                        innovation
                        and experience. With over 20 years of expertise in the field, our aim is to collaborate with
                        companies
                        to
                        help them maintain industry 4.0 standards.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row banner justify-content-evenly px-3 py-5 align-items-center min-height">


            <div class="col-lg-5 p-3 order-lg-0 order-1">
                <h1 class="text-primary fw-bold ">Support</h1>
                <p class="font-s5 mt-3 text-breakk">Our technical support team is dedicated to assisting you. Our
                    holistic
                    support
                    model includes:
                </p>
                <ul class="font-s5 mb-3 text-breakk">
                    <li> Hardware and software support</li>
                    <li>Continuous support and repair assistance for our products</li>
                    <li>Assistance with products that use our drivers</li>
                </ul>
            </div>

            <div class="col-lg-5 p-3 ">
                <img width="100%" height="100%" src="../../../assets/img/home/undraw_Instant_support_re_s7un.png"
                    alt="">
            </div>
        </div>
    </div>
    <div class="section position-relative">
        <div class="row banner justify-content-center px-3 py-5 align-items-center min-height">
            <div class="col-lg-10">
                <h1 class="text-primary text-center fw-bold pt-5">Our Clients</h1>
                <swiper [config]="swiperConfig">
                    <ng-template class="ms-2" swiperSlide>
                        <div class="d-block" style="margin: 0 auto;">
                            <div class="card card-client shadow py-2 px-3 my-3">
                                <span class="d-flex align-items-center my-auto">
                                    <img class="client" src="../../../assets/img/home/client/emerson.png" alt="">
                                </span>
                            </div>
                            <div class="card card-client shadow py-2 px-3 my- ">
                                <span class="d-flex align-items-center my-auto">
                                    <img class="client" src="../../../assets/img/home/client/electrolab.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template class="" swiperSlide>
                        <div class="d-block" style="margin: 0 auto;">
                            <div class="card card-client shadow py-2 px-3 my-3">
                                <span class="d-flex align-items-center " style="margin:30px auto">
                                    <img class="client" src="../../../assets/img/home/client/sun.png" alt=""></span>
                            </div>
                            <div class="card card-client shadow py-2 px-3 my-3">
                                <span class="d-flex align-items-center my-auto">
                                    <img class="client" src="../../../assets/img/home/client/jabbals.png" alt=""></span>
                            </div>

                        </div>
                    </ng-template>

                    <ng-template class="" swiperSlide>
                        <div class="d-block" style="margin: 0 auto;">
                            <div class="card card-client shadow py-2 px-3 my-3">
                                <span class="d-flex align-items-center my-auto">
                                    <img class="client" src="../../../assets/img/home/client/syntegon-logo.svg"
                                        alt=""></span>
                            </div>
                            <div class="card card-client shadow py-2 px-3 my-3">
                                <span class="d-flex align-items-center my-auto">
                                    <img class="client" src="../../../assets/img/home/client/accura.jpeg" alt=""></span>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template class="" swiperSlide>
                        <div class="d-block" style="margin: 0 auto;">
                            <div class="card card-client shadow py-2 px-3 my-3">
                                <span class="d-flex align-items-center my-auto">
                                    <img class="client" src="../../../assets/img/home/client/aci.png" alt=""></span>
                            </div>
                            <div class="card card-client shadow py-2 px-3 my-3">
                                <span class="d-flex align-items-center my-auto">
                                    <img class="client" src="../../../assets/img/home/client/aerocircle_logo.jpeg"
                                        alt=""></span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template class="" swiperSlide>
                        <div class="d-block" style="margin: 0 auto;">
                            <div class="card card-client shadow py-2 px-3 my-3">
                                <span class="d-flex align-items-center my-auto">
                                    <img class="client" src="../../../assets/img/home/client/AlltronixLogo.png"
                                        alt=""></span>
                            </div>
                            <div class="card card-client shadow py-2 px-3 my-3">
                                <span class="d-flex align-items-center " style="margin:50px auto">
                                    <img class="client" src="../../../assets/img/home/client/amerging.png"
                                        alt=""></span>
                            </div>
                        </div>
                    </ng-template>




                </swiper>
            </div>
        </div>

        <footer class="text-center d-block position-absolute  bottom-0 w-100 bg-white" style=" z-index: 1000; ">
            <div class=" container d-flex justify-content-around align-items-center">
                <p style="" class=" text-primary   my-2">
                    TSL AUTOMATION SOLUTIONS &#169; 2022
                </p>
                <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                    <div class="d-flex justify-content-center gap-2 align-items-center ">
                        <p class="text-primary fs-6 mb-0">
                            Follow us on
                        </p>
                        <a href=""> <img height="24px" width="24px" src=" ../../../assets/img/link.svg" alt=""></a>
                        <a href=""> <img height="24px" width="24px" src="../../../assets/img/fb.svg" alt=""></a>
                        <a href=""> <img height="24px" width="24px" src="../../../assets/img/insta.svg" alt=""></a>
                    </div>
                </div>

            </div>

        </footer>
    </div>
</div>