/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

body {
    font-family: 'Montserrat', sans-serif !important;
    color: #1d1c23 !important;
}

.row {
    margin: 0 !important;
    // padding: 0 !important;
}

.text-primary {
    color: #2178ad !important;
}

.primary-bg {
    // background-color: #0167B0;
    background-color: #2178ad;

}

.grey-bg {
    background-color: #F7F7F7;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url(./assets/img/home/wave-bg.png);
    // background-position-x: center;
    background-position: center;
}

.bg-svg {
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url(./assets/img/home/wave-bg.png);
    background-position-x: center;
}

.banner2 {
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url(./assets/img/home/wave-bg-rt.jpg);
    background-position-x: center;
}

.min-height {
    min-height: 100vh;
}

@media screen and (max-width: 1200px) {
    .font-s5 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .font-s5 {
        font-size: 1.25rem;
    }

    .min-height {
        min-height: 100vh;
    }


    .banner {
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url(./assets/img/home/wave-bg.png);
        // min-height: 100vh;
        display: flex;
        align-items: center;

    }

    .banner2 {
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url(./assets/img/home/wave-bg-rt.jpg);
        // min-height: 100vh;
        // background-position: -11vw;
    }

}

.text-breakk {
    overflow-wrap: break-word;
    word-wrap: break-word;
    // hyphens: auto;
}

h1 {
    font-weight: 600 !important;
}

.secondary-button {
    border-radius: 999em !important;
    background-color: rgb(16, 186, 185) !important;
    color: white !important;
    padding: 0.5rem 1.5rem !important;
    transition: transform 0.50s ease-out !important;
    font-weight: 600 !important;
    transform-origin: bottom left !important;

}

.secondary-button:hover {
    background-color: #0c8d8d !important;
    transform-origin: bottom left;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 5px rgba(16, 186, 186, 0.3);
    // transition: transform 0.25s ease-out;
}

.fs-01 {
    font-size: 13px !important;
}